.git
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
public/build
public/hot
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
